@import 'normalize.css';
.main {
  width: 100%;
  display: grid;
  grid-template-columns: 1.1fr 3fr;
  grid-template-rows: 38px auto;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
  max-width: 1280px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 20px);
  height: 100%;
  max-width: 1260px;
}
.header-wrapper {
  width: 100%;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}
.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 10px;
}
.header-logo-img {
  height: 18px;
}
.header-logo:hover {
  cursor: pointer;
}
.header-bag {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
.header-bag-img {
  width: 17px;
  margin-top: -1px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.3, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.3, 1);
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.3, 1);
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.3, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.3, 1);
}
.header-bag-img.active {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}
.header-bag-img.two-num {
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}
.header-bag-img.two-num-plus {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}
.header-bag:hover {
  cursor: pointer;
}
.header-bag-items-count {
  position: absolute;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0px 4px;
  top: 26px;
  margin-right: 10px;
  right: 0px;
  -webkit-transition: width 0.3s cubic-bezier(0.25, 0.1, 0.3, 1);
  transition: width 0.3s cubic-bezier(0.25, 0.1, 0.3, 1);
}
.header-bag-items-count.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}
.header-bag-items-count.active.two-num {
  width: 23.25px;
}
.header-bag-items-count.active.two-num-plus {
  width: 30.93px;
}
.header-bag-items-count.active.two-num-plus::after {
  content: "+";
  font-size: 12px;
  margin-top: -1px;
}
.header-bag-items-count.active-value {
  font-size: 12px;
  font-family: SF-Pro-Display-Medium;
  margin-top: 1px;
}
.header-search {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  right: 0;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  -webkit-transition: opacity, visibility 0.2s, 0.2s;
  transition: opacity, visibility 0.2s, 0.2s;
}
.header-search-input {
  width: 100%;
  height: 33px;
  outline: none;
  border: none;
  font-family: SF-Pro-Display-Regular;
  padding-left: 29px;
  background-color: var(--additional-dark-grey);
  border-radius: 10px;
  color: #ffffff;
  font-size: 15px;
}
.header-search-input::-webkit-input-placeholder {
  color: var(--additioanl-input-placeholder);
}
.header-search-input::-moz-placeholder {
  color: var(--additioanl-input-placeholder);
}
.header-search-input:-ms-input-placeholder {
  color: var(--additioanl-input-placeholder);
}
.header-search-input::-ms-input-placeholder {
  color: var(--additioanl-input-placeholder);
}
.header-search-input::placeholder {
  color: var(--additioanl-input-placeholder);
}
.header-search-input-img {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 9px;
  left: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header-search-input-clear-btn {
  position: absolute;
  background: none;
  border: none;
  right: 8px;
  top: 8.5px;
  width: 16px;
  height: 16px;
  padding: 0;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity, visibility 0.2s, 0.2s;
  transition: opacity, visibility 0.2s, 0.2s;
}
.header-search-input-clear-btn.visible {
  visibility: visible;
  opacity: 1;
}
.header-search-input-clear-img {
  width: 100%;
  height: 100%;
}
.header-search.hidden {
  visibility: hidden;
  opacity: 0;
}

.goods {
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.goods-horizontal {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto, 1fr);
}
.goods-wrapper {
  width: 100%;
  grid-row-start: 2;
  grid-row-end: 3;
}
.goods-wrapper.not-found::before {
  content: "No results were found";
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  color: #7C7B80;
}
.goods-item {
  width: 100%;
  height: 420px;
  padding: 20px 20px;
  display: grid;
  grid-template-rows: auto;
  font-size: 17px;
  background: #ffffff;
  border-radius: 15px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-transition: 0.3s cubic-bezier(0, 0, 0.5, 1);
  transition: 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.goods-item-horizontal {
  grid-template-columns: 30% calc(70% - 20px);
  grid-template-rows: auto 28.64px auto;
  height: auto;
  row-gap: 7.5px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  font-size: 17px;
}
.goods-item-horizontal > .goods-item-wrapper-stock {
  grid-column: 2;
  grid-row: 2;
}
.goods-item-horizontal > .goods-item-wrapper-rating {
  grid-column: 1;
  grid-row: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.goods-item-horizontal > .goods-item-img-wrapper {
  grid-row: 1/3;
}
.goods-item-horizontal > .goods-item-img-wrapper > .goods-item-img {
  height: 230px;
}
.goods-item:hover {
  -webkit-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  -webkit-transform: scale3d(1.01, 1.01, 1.01);
          transform: scale3d(1.01, 1.01, 1.01);
}
.goods-item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.goods-item-description-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  row-gap: 3px;
}
.goods-item-description-horizontal span {
  color: var(--main-text-color-light);
}
.goods-item-description-horizontal > .goods-item-description-name {
  margin-bottom: 15px;
  font-size: 17px;
  -webkit-line-clamp: 1;
}
.goods-item-description-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  text-decoration: none;
  color: var(--main-black);
}
.goods-item-description-name:hover {
  color: var(--main-blue-text);
}
.goods-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  justify-self: center;
}
.goods-item-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.goods-item-img img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.goods-item-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.goods-item-wrapper-horizontal {
  grid-row-start: 3;
}
.goods-item-wrapper-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.goods-item-wrapper-rating-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2px;
     -moz-column-gap: 2px;
          column-gap: 2px;
}
.goods-item-wrapper-rating-star {
  width: 12px;
  height: 12px;
}
.goods-item-wrapper-price {
  font-size: 19px;
  font-family: "SF-Pro-Display-Semibold";
}
.goods-item-wrapper-stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.goods-item-wrapper-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 61px;
  height: 36px;
  border-radius: 30px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.goods-item-wrapper-btn.hidden {
  display: none;
}
.goods-item-wrapper-add-to-bag-btn {
  background: var(--main-blue);
}
.goods-item-wrapper-good-in-bag {
  background: var(--main-green);
  cursor: default;
}
.goods-item-wrapper-good-in-bag-img {
  width: 16px;
}

.top-panel {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-panel-wrapper {
  height: 38px;
  width: 100%;
}

.sorting-picker {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  font-family: "SF-Pro-Display-Medium";
}
.sorting-picker-title {
  font-size: 17px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sorting-picker-select-box {
  height: 100%;
  width: 250px;
  background-color: var(--main-light-grey);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-box-current-item {
  width: 78%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16.5px;
  margin-left: 17px;
  color: var(--main-text-color);
}
.select-box-current-item::-webkit-input-placeholder {
  color: var(--main-text-color-light);
}
.select-box-current-item::-moz-placeholder {
  color: var(--main-text-color-light);
}
.select-box-current-item:-ms-input-placeholder {
  color: var(--main-text-color-light);
}
.select-box-current-item::-ms-input-placeholder {
  color: var(--main-text-color-light);
}
.select-box-current-item::placeholder {
  color: var(--main-text-color-light);
}
.select-box-open-btn {
  height: 31px;
  width: 31px;
  background-color: var(--main-dark-grey);
  border: none;
  outline: none;
  margin-right: 3.5px;
  border-radius: 7px;
  cursor: pointer;
}
.select-box-open-btn-img {
  width: 12px;
  padding-bottom: 1px;
}
.select-box-items {
  position: absolute;
  top: 113px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 38px;
  max-height: 114px;
  width: 250px;
  background-color: var(--main-light-grey);
  border-radius: 10px;
  overflow-y: auto;
  visibility: hidden;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  -webkit-transition: opacity, 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity, 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity, transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity, transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.select-box-items.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.select-box-items::-webkit-scrollbar {
  width: 12px;
}
.select-box-items::-webkit-scrollbar-track {
  margin-top: 4px;
  margin-bottom: 4px;
}
.select-box-items::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: var(--main-dark-grey);
}
.select-box-item, .select-box-not-found {
  padding: 9.81px 17px 9.81px;
  color: var(--main-text-color);
  cursor: pointer;
}
.select-box-not-found {
  cursor: default;
}

.sorting-found {
  font-size: 17px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.change-grid {
  height: 31px;
  width: 86.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.change-grid-item {
  width: 31px;
  height: 31px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 2px;
     -moz-column-gap: 2px;
          column-gap: 2px;
  row-gap: 2px;
  cursor: pointer;
}
.change-grid-item.active > .square-grid {
  background-color: var(--main-dark-grey);
  -webkit-transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.change-grid-to-lines {
  width: 45.5px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
}

.square-grid {
  border-radius: 3px;
  background-color: var(--main-light-grey);
  -webkit-transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.filters-wrapper {
  height: 100%;
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
}
.filters-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  height: 38px;
}
.filters-btn {
  background-color: var(--main-light-grey);
  border: none;
  outline: none;
  width: 100%;
  border-radius: 10px;
  font-family: "SF-Pro-Display-Medium";
  font-size: 17px;
  color: var(--main-text-color);
  cursor: pointer;
}
.filters-items {
  width: 100%;
  height: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.filters-item {
  width: 100%;
  height: 49.5px;
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-transition: height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
  transition: height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.filters-item-category.active, .filters-item-brand.active, .filters-item-price.active, .filters-item-stock.active {
  height: 133px;
  -webkit-transition: height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
  transition: height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.filters-item-category.active > .filters-item-options, .filters-item-brand.active > .filters-item-options, .filters-item-price.active > .filters-item-options, .filters-item-stock.active > .filters-item-options {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
  -webkit-transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.filters-item-category.active > .filters-item-options > .filters-item-option, .filters-item-brand.active > .filters-item-options > .filters-item-option, .filters-item-price.active > .filters-item-options > .filters-item-option, .filters-item-stock.active > .filters-item-options > .filters-item-option {
  height: 19.54px;
  -webkit-transition: height 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
  transition: height 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
.filters-item-category.active > .filters-item-dual-progress, .filters-item-brand.active > .filters-item-dual-progress, .filters-item-price.active > .filters-item-dual-progress, .filters-item-stock.active > .filters-item-dual-progress {
  visibility: visible;
  opacity: 1;
  height: 72px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity, height, 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s, 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s, -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s;
  transition: opacity, height, 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s, 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s, -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s;
  transition: opacity, height, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s, 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s, 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s;
  transition: opacity, height, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s, 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s, 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s, -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s;
  -webkit-transition: opacity, height, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s, 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s, 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s;
}
.filters-item-category.active > .filters-item-dual-progress > .filters-item-slider-price, .filters-item-category.active > .filters-item-dual-progress > .filters-item-slider-stock, .filters-item-brand.active > .filters-item-dual-progress > .filters-item-slider-price, .filters-item-brand.active > .filters-item-dual-progress > .filters-item-slider-stock, .filters-item-price.active > .filters-item-dual-progress > .filters-item-slider-price, .filters-item-price.active > .filters-item-dual-progress > .filters-item-slider-stock, .filters-item-stock.active > .filters-item-dual-progress > .filters-item-slider-price, .filters-item-stock.active > .filters-item-dual-progress > .filters-item-slider-stock {
  height: 3px;
  -webkit-transition: height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s;
  transition: height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s;
}
.filters-item-category.active > .filters-item-dual-progress > .filters-item-slider-price > .filters-item-input-price input::-webkit-slider-thumb, .filters-item-category.active > .filters-item-dual-progress > .filters-item-slider-price > .filters-item-input-stock input::-webkit-slider-thumb, .filters-item-category.active > .filters-item-dual-progress > .filters-item-slider-stock > .filters-item-input-price input::-webkit-slider-thumb, .filters-item-category.active > .filters-item-dual-progress > .filters-item-slider-stock > .filters-item-input-stock input::-webkit-slider-thumb, .filters-item-brand.active > .filters-item-dual-progress > .filters-item-slider-price > .filters-item-input-price input::-webkit-slider-thumb, .filters-item-brand.active > .filters-item-dual-progress > .filters-item-slider-price > .filters-item-input-stock input::-webkit-slider-thumb, .filters-item-brand.active > .filters-item-dual-progress > .filters-item-slider-stock > .filters-item-input-price input::-webkit-slider-thumb, .filters-item-brand.active > .filters-item-dual-progress > .filters-item-slider-stock > .filters-item-input-stock input::-webkit-slider-thumb, .filters-item-price.active > .filters-item-dual-progress > .filters-item-slider-price > .filters-item-input-price input::-webkit-slider-thumb, .filters-item-price.active > .filters-item-dual-progress > .filters-item-slider-price > .filters-item-input-stock input::-webkit-slider-thumb, .filters-item-price.active > .filters-item-dual-progress > .filters-item-slider-stock > .filters-item-input-price input::-webkit-slider-thumb, .filters-item-price.active > .filters-item-dual-progress > .filters-item-slider-stock > .filters-item-input-stock input::-webkit-slider-thumb, .filters-item-stock.active > .filters-item-dual-progress > .filters-item-slider-price > .filters-item-input-price input::-webkit-slider-thumb, .filters-item-stock.active > .filters-item-dual-progress > .filters-item-slider-price > .filters-item-input-stock input::-webkit-slider-thumb, .filters-item-stock.active > .filters-item-dual-progress > .filters-item-slider-stock > .filters-item-input-price input::-webkit-slider-thumb, .filters-item-stock.active > .filters-item-dual-progress > .filters-item-slider-stock > .filters-item-input-stock input::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  -webkit-transition: width, height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s, 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s;
  transition: width, height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s, 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.12s;
}
.filters-item-price.active, .filters-item-stock.active {
  height: 116.5px;
}
.filters-item-header {
  padding: 15px 15px 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.filters-item-header-title {
  font-size: 17px;
  font-family: "SF-Pro-Display-Semibold";
}
.filters-item-header-expand-btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  width: 49.5px;
  height: 49.5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.filters-item-header-expand-btn-img {
  width: 100%;
  height: 9.81px;
  margin-bottom: 2px;
}
.filters-item-header-expand-btn.active {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.filters-item-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 15px 15px;
  row-gap: 7px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  visibility: hidden;
  opacity: 0;
  transition: opacity, height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: opacity, height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.filters-item-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  font-size: 17px;
  height: 0px;
  cursor: pointer;
  -webkit-transition: height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.filters-item-option-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 17.5px;
  height: 17.5px;
  border: 1.5px solid var(--main-dark-grey);
  border-radius: 4px;
}
.filters-item-option-checkbox.active {
  background-color: var(--main-blue);
  border: 1px solid var(--main-blue);
}
.filters-item-option-checkbox.active > .filters-item-option-checkbox-img {
  visibility: visible;
  opacity: 1;
}
.filters-item-option-checkbox-img {
  width: 9px;
  height: 9px;
  visibility: hidden;
  opacity: 0;
}
.filters-item-option-name {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.filters-item-dual-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 15px 15px 15px;
  height: 0px;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  -webkit-transition: opacity, height, 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity, height, 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity, height, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity, height, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: opacity, height, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.filters-item-slider-price, .filters-item-slider-stock {
  position: relative;
  width: 100%;
  height: 0px;
  background-color: var(--main-light-grey);
  border-radius: 1.5px;
  -webkit-transition: height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.filters-item-slider-price-progress, .filters-item-slider-stock-progress {
  position: absolute;
  height: 100%;
  left: 25%;
  right: 25%;
  border-radius: 1px;
  background-color: var(--main-blue);
}
.filters-item-input-price, .filters-item-input-stock {
  position: absolute;
  width: 100%;
  top: -9px;
}
.filters-item-input-price input, .filters-item-input-stock input {
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: none;
  pointer-events: none;
}
.filters-item-input-price input::-webkit-slider-thumb, .filters-item-input-stock input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0px;
  width: 0px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  -webkit-transition: height, width 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: height, width 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.16);
}
.filters-item-values-price, .filters-item-values-stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navigation-wrapper {
  margin-top: 20px;
}
.navigation-wrapper-goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  font-family: "SF-Pro-Display-Semibold";
  width: 100%;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  color: var(--main-dark-grey);
}
.navigation-wrapper-goods-item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  padding: 10px;
}
.navigation-wrapper-goods-item:hover, .navigation-wrapper-goods-item:active {
  color: #7C7B80;
}

.active-btn {
  color: #7C7B80;
}

.bag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1000px;
}
.bag-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 54px);
  background-color: #ffffff;
  padding: 20px;
}
.bag-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 40px 0 60px 0;
  border-bottom: 1px solid var(--main-dark-grey);
}
.bag-header-title {
  font-family: "SF-Pro-Display-Semibold";
  font-size: 40px;
  font-weight: 500;
  color: #1d1d1f;
}
.bag-header-subtitle {
  font-size: 17px;
  padding: 13px 0 0;
}
.bag-btn {
  border-radius: 12px;
  height: 56px;
  width: 360px;
  border: none;
  outline: none;
  font-size: 17px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 0.022em;
  cursor: pointer;
}
.bag-btn-continue-shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0;
  background-color: #ebebeb;
  color: var(--main-black);
}
.bag-btn-continue-shopping-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--main-black);
}
.bag-btn-check-out {
  margin: 15px 0 0;
  background-color: var(--main-blue);
  color: #ffffff;
}
.bag-btn-check-out:hover {
  background-color: var(--main-blue-hover);
}
.bag-goods {
  width: 100%;
}
.bag-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--main-dark-grey);
  padding: 60px 0;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0s;
  transition: 0s;
}
.bag-item.hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.bag-item.move {
  -webkit-transform: translateY(-324px);
          transform: translateY(-324px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.bag-item-img {
  width: 245px;
  min-width: 245px;
  height: 203px;
}
.bag-item-img img {
  width: 100%;
  height: auto;
  max-height: 203px;
  -o-object-fit: contain;
     object-fit: contain;
}
.bag-item-name {
  text-decoration: none;
  color: var(--main-black);
}
.bag-item-name-wrapper {
  font-size: 24px;
  font-family: "SF-Pro-Display-Semibold";
  width: calc(85% - 331px);
  padding-right: 5.5%;
}
.bag-item-name:hover {
  color: var(--main-blue-text);
}
.bag-item-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96px;
  height: 26px;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
}
.bag-item-quantity-btn {
  width: 26px;
  height: 26px;
  border: 1.5px solid var(--main-dark-grey);
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.bag-item-quantity-btn-img {
  width: 14px;
}
.bag-item-quantity-btn:active {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}
.bag-item-quantity-input {
  width: 30px;
  outline: none;
  border: none;
  text-align: center;
}
.bag-item-quantity-input::-webkit-outer-spin-button, .bag-item-quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.bag-item-quantity.max-stock::before {
  position: absolute;
  text-align: center;
  width: 96px;
  margin-top: 40px;
  content: "Maximum stock";
  color: var(--main-text-color-light);
  font-size: 17px;
}
.bag-item-price-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 15%;
}
.bag-item-price-value-wrapper {
  font-size: 24px;
  font-family: "SF-Pro-Display-Semibold";
}
.bag-item-remove-btn {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 17px;
  margin-top: 15px;
  letter-spacing: 0.022em;
  color: var(--main-blue-text);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.bag-item-remove-btn:hover {
  text-decoration: underline;
}
.bag-total {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  margin-bottom: 60px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0s;
  transition: 0s;
}
.bag-total.move {
  -webkit-transform: translateY(-324px);
          transform: translateY(-324px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.bag-total.hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.bag-total-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 265px);
  font-size: 24px;
  font-family: "SF-Pro-Display-Semibold";
  padding: 20px 0 20px 0;
}
.bag-total.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1240px;
}
.product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 20px;
}
.product-header {
  margin-top: 20px;
  height: 75px;
}
.product-header-title {
  font-size: 32px;
}
.product-main-info {
  width: calc(40% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 54px);
  row-gap: 20px;
  min-height: 296px;
  max-height: 405px;
}
.product-main-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100vh - 150px);
  margin-top: 10px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  max-height: 460px;
  min-height: 348px;
}
.product-main-info-specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 17px;
  width: 100%;
  row-gap: 5px;
}
.product-main-info-specs-title {
  font-size: 20px;
  font-family: "SF-Pro-Display-Semibold";
  margin-bottom: 10px;
}
.product-main-info-spec-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.product-main-info-rating-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  row-gap: 20px;
}
.product-main-info-rating {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3px;
     -moz-column-gap: 3px;
          column-gap: 3px;
}
.product-main-info-rating-star {
  width: 15px;
  height: 15px;
}
.product-main-info-all-specs-btn {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 17px;
  color: var(--main-text-color-light);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: auto;
  letter-spacing: 0.022em;
}
.product-main-info-all-specs-btn:hover {
  text-decoration: underline;
}
.product-main-info-price {
  font-size: 24px;
  font-family: "SF-Pro-Display-Semibold";
}
.product-main-info-buy-btns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  width: 100%;
}
.product-main-info-buy-btn {
  width: 100%;
  height: 44px;
  background-color: var(--main-blue);
  border-radius: 8px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0.022em;
  cursor: pointer;
}
.product-main-info-buy-btn:hover {
  background-color: var(--main-blue-hover);
}
.product-main-info-buy-btn:disabled {
  color: var(--main-black);
  background-color: #ebebeb;
}
.product-main-info-buy-btn:disabled:hover {
  background-color: #ebebeb;
}
.product-images-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden;
  grid-column: 2;
  grid-row: 1;
}
.product-images-slider-wrapper {
  position: sticky;
  bottom: 0;
  display: grid;
  width: 60%;
  height: calc(100% - 54px);
  min-height: 296px;
  max-height: 405px;
  grid-template-rows: auto 10px;
  grid-template-columns: 50px auto 50px;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-images-slider-btn {
  width: 50px;
  height: 50px;
  margin-top: 30px;
  border-radius: 50%;
  border: none;
  padding-top: 5px;
  background-color: #ebebeb;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  -webkit-transition: background-color, opacity 0.1s linear, 0.1s linear;
  transition: background-color, opacity 0.1s linear, 0.1s linear;
}
.product-images-slider-btn:hover {
  background-color: rgba(235, 235, 235, 0.7176470588);
}
.product-images-slider-btn:active {
  background-color: rgba(200, 200, 204, 0.6549019608);
}
.product-images-slider-btn.hidden {
  opacity: 0;
  visibility: hidden;
}
.product-images-slider-btn-img {
  width: 11.5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.product-images-slider-btn.prev {
  grid-column: 1;
  grid-row: 1;
  padding-right: 3px;
}
.product-images-slider-btn.next {
  grid-column: 3;
  grid-row: 1;
  padding-left: 3px;
}
.product-images {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  min-height: 250px;
}
.product-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.product-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: calc(100vh - 250px);
  min-height: 250px;
  max-height: 350px;
}
.product-image img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-dots {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.product-dots-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  grid-column: 2;
  grid-row: 2;
  height: 8px;
}
.product-dot {
  width: 8px;
  height: 8px;
  background-color: rgba(210, 210, 215, 0.6392156863);
  border-radius: 50%;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.product-dot.active {
  background-color: rgba(0, 0, 0, 0.56);
}
.product-all-info {
  display: block;
  width: 100%;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  margin-bottom: 20px;
}
.product-all-info-title {
  font-size: 30px;
  margin-bottom: 20px;
}
.product-all-info-spec-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 17px;
  padding: 5px 0;
}
.product-all-info-spec-item-dots {
  position: absolute;
  width: 100%;
  border-bottom: 2px dotted var(--main-dark-grey);
  z-index: 0;
  top: 18.5px;
}
.product-all-info-spec-item-name {
  position: relative;
  text-align: left;
  color: var(--main-text-color-light);
  z-index: 5;
}
.product-all-info-spec-item-name span {
  padding-right: 6px;
  background-color: #ffffff;
}
.product-all-info-spec-item-value {
  position: relative;
  text-align: right;
  z-index: 5;
}
.product-all-info-spec-item-value span {
  padding-left: 6px;
  background-color: #ffffff;
}

/* apple fonts */
@font-face {
  font-family: "SF-Pro-Display-Bold";
  src: url("./assets/fonts/SF-Pro-Display-Bold.ttf");
}
@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url("./assets/fonts/SF-Pro-Display-Regular.ttf");
}
@font-face {
  font-family: "SF-Pro-Display-Medium-Italic";
  src: url("./assets/fonts/SF-Pro-Display-Medium-Italic.ttf");
}
@font-face {
  font-family: "SF-Pro-Display-Semibold";
  src: url("./assets/fonts/SF-Pro-Display-Semibold.ttf");
}
@font-face {
  font-family: "SF-Pro-Display-Thin";
  src: url("./assets/fonts/SF-Pro-Display-Thin.ttf");
}
@font-face {
  font-family: "SF-Pro-Display-Light";
  src: url("./assets/fonts/SF-Pro-Display-Light.ttf");
}
@font-face {
  font-family: "SF-Pro-Display-Medium";
  src: url("./assets/fonts/SF-Pro-Display-Medium.ttf");
}
body {
  background: var(--main-bg);
  font-family: "SF-Pro-Display-Regular";
  color: var(--main-black);
  letter-spacing: 0.015em;
}

h1 {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

/* variables */
:root {
  --main-bg: #f5f5f7;
  --main-black: #1d1d1f;
  --main-light-grey: #e2e2e5;
  --main-dark-grey: #c2c2c7;
  --main-text-color: #4d4d4d;
  --main-text-color-light: #86868b;
  --main-blue: #0071e3;
  --main-blue-hover: #0077ed;
  --main-blue-text: #0066cc;
  --main-green: #00e075;
  --additional-dark-grey: #252528;
  --additioanl-input-placeholder: #a6a6a6;
}

#current-page {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}