#current-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.goods {
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;  
  &-horizontal {    
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
  &-wrapper {
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &-item {
    width: 100%;
    height: 420px;
    padding: 20px 20px;
    display: grid;
    grid-template-rows: auto;
    font-size: 17px;
    background: #ffffff;
    border-radius: 15px;
    align-content: space-between; 
    &-horizontal {
      grid-template-columns: 30% 70%;
      height: auto;
      row-gap: 7.5px;  
      font-size: 17px;

      
      &> .goods-item-wrapper-stock{
        grid-column-start: 1;
        grid-row-start: 3;
        height: 50%;
      }
      &> .goods-item-wrapper-rating{
        grid-column-start: 1;
        grid-row-start: 3;
        height: 50%;
        align-self: flex-end;
      }
      &> .goods-item-img{
        margin-right: 15px;
      }
      
    }
    &-description {
      display: flex;
      align-self: flex-end;
      &-horizontal {
        display: flex;
        flex-direction: column;
        font-size: 17px;
        align-self: center;
        row-gap: 3px;
        span {
          color: var(--main-text-color-light);
        }
      }
    }
    &-img {
      display: flex;
      height: 200px;
      max-width: auto;
      max-height: 200px;
      justify-self: center;
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-horizontal{
        grid-row-start: 3;
        height: 50px;
        &> .goods-item-wrapper-buyButton{
        align-self: center;
      }
      }
      &-rating{
        display: flex;
        align-items: center;
        &-stars{
          display: flex;
          column-gap: 2px;
        }
        &-star{
            width: 12px;
            height: 12px;
          }
      }
      &-price {
        font-size: 19px;
        font-family: 'SF-Pro-Display-Semibold';
      }
      &-stock {
        display: flex;
        align-items: center;
        column-gap: 4px;
      }
      &-buyButton {
        display: flex;
        padding: 8px 16px;
        background: var(--main-blue);
        border-radius: 30px;
        letter-spacing: 0.5px;
        align-items: center;
        align-self: flex-end;
        text-align: center;
        color: #ffffff;
        border: none;
        cursor: pointer;
        &-select {
          background-color: #00E075;
        }
      }
    }
  }
}
