.header{
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        width: calc(100% - 40px);
        height: 100%;
    }
    &-logo{
        display: flex;
        align-items: center;
        &-link, &-img{
            height: 18px;
        }
        &:hover{
            cursor: pointer;
        }
    }
    &-cart {
        display: flex;
        align-items: center;
        &-img{
            width: 19px;
            margin-top: -1px;
        }
        &:hover{
            cursor: pointer;
        }
        &-items-count{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15px;
            height: 15px;
            color: #ffffff;
            background-color: #d60017;
            border-radius: 4px;
            right: 12px;
            top: 10px;
            &-value{
                font-size: 12px;
                font-family: SF-Pro-Display-Light;
                margin-top: 1px;
            }
        }
    }
    &-search{
        position: absolute;
        display: flex;
        left: 0;
        right: 0;
        top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        &-input{
            width: 100%;
            height: 32px;
            outline: none;
            border: none;
            font-family: SF-Pro-Display-Regular;
            padding-left: 29px;
            background-color: #252528;
            border-radius: 10px;
            color: #ffffff;
            font-size: 15px;
            &::placeholder{
                color: #a6a6a6;
            }
            &-img{
                position: absolute;
                width: 14px;
                height: 14px;
                top: 10px;
                left: 8px;
                user-select: none;
            }
            &-clear-btn{
                position: absolute;
                background: none;
                border: none;
                right: 8px;
                top: 9px;
                width: 16px;
                height: 16px;
                padding: 0;
                cursor: pointer;
                visibility: hidden;
                opacity: 0;
                transition: 0.2s;
            }
            &-clear-btn.visible{
                visibility: visible;
                opacity: 1;
            }
            &-clear-img{
                width: 100%;
                height: 100%;
            }
        }
    }
}