/* apple fonts */
@font-face {
    font-family: SF-Pro-Display-Bold;
    src: url(./assets/fonts/SF-Pro-Display-Bold.ttf);
}
@font-face {
    font-family: SF-Pro-Display-Regular;
    src: url(./assets/fonts/SF-Pro-Display-Regular.ttf);
}
@font-face {
    font-family: SF-Pro-Display-Medium-Italic;
    src: url(./assets/fonts/SF-Pro-Display-Medium-Italic.ttf);
}
@font-face {
    font-family: SF-Pro-Display-Semibold;
    src: url(./assets/fonts/SF-Pro-Display-Semibold.ttf);
}
@font-face {
    font-family: SF-Pro-Display-Thin;
    src: url(./assets/fonts/SF-Pro-Display-Thin.ttf);
}
@font-face {
    font-family: SF-Pro-Display-Light;
    src: url(./assets/fonts/SF-Pro-Display-Light.ttf);
}
@font-face {
    font-family: SF-Pro-Display-Medium;
    src: url(./assets/fonts/SF-Pro-Display-Medium.ttf);
}

body{
    font-family: SF-Pro-Display-Regular;
}
